@use '@/styles/base.scss' as base;

.box {
    color: base.$textColor;
    height: base.$topTitleHeight;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    user-select: none;
    width: base.$layoutWidth;
    margin: 0 auto;

    .title {
        font-size: 56px;
        font-weight: 700;
        text-shadow: 4px 4px 10px base.$footerBg;
    }

    .desc {
        font-size: 28px;
    }
}

@media screen and (max-width: 1240px){
    .box {
        width: 100vm;
        .title {
        font-size: 40rem;
        text-shadow: 4rem 4rem 10rem base.$footerBg;
        }
    
        .desc {
        font-size: 22rem;
        }
    }
}