@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./assets/fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.App {
  font-family: 'dengxian';
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  aspect-ratio: 16/9; 
}

.bg0 {
  background-image: url(./imgs/bg0.webp);
}
.bg1 {
  background-image: url(./imgs/bg1.webp);
}
.bg2 {
  background-image: url(./imgs/bg2.webp);
}

/* 响应式调整 */
@media (max-width: 768px) {
  .App {
    aspect-ratio: 4/3; /* 移动端使用不同比例 */
  }
}