@font-face {
  font-family: 'FiraCode';
  font-display: auto;
  src: url(./assets/fonts/FiraCode-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}

.app {
  font-family: 'dengxian';
  background-position: center 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  object-fit: contain
}
.bg0 {
  background-image: url(./assets/imgs/bg0.png);
}
.bg1 {
  background-image: url(./assets/imgs/bg1.png);
}
.bg2 {
  background-image: url(./assets/imgs/bg2.png);
}
