.mobile-nav-box {
  display: none;

}
.ant-drawer {
  .ant-drawer-content-wrapper {
    width: 90rem !important;
  }
  .ant-drawer-content{
    background-color: $themeColor;
    color: $textColor;
  }
  .ant-drawer-body {
    padding: 0;
    display: flex;
    justify-content: center;
    // align-items: center;
    margin-top: 40rem;
  }
}

@media (max-width: 1240px) {
  .mobile-nav-box {
    display: block;
  }
}
